.grettings {
    margin-top: 10px;
    margin-bottom: 20px;
    text-align: center;
    font-size: 56px;
    font-weight: 500;
    letter-spacing: 1px;
    color: green;
}

.text {
    text-align: center;
    font-size: 33px;
    color: yellowgreen;
    font-weight: 400;
}