.grettings {
    margin-top: 10px;
        margin-bottom: 20px;
        text-align: center;
        font-size: 56px;
        font-weight: 500;
        letter-spacing: 1px;
}

.text {
    text-align: center;
        font-size: 33px;
        color: #3f4041;
        font-weight: 400;
} 

