.navlink {
    display: inline-block;
    padding: 12px 20px;
    text-transform: uppercase;
    font-weight: 500;
    font-size: 22px;
    color: white;
    text-decoration: none;
    transition: all 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.navlink:hover {
    text-shadow: 1px 0 11px rgba(255, 255, 255, 0.5);
}

.navlink:active {
    color: whitesmoke;
    text-shadow: 1px 0 11px whitesmoke;
}

.nav {
    margin: 0 0 0 55px;
}