.contact__btn {
    margin-left: 30px;
    margin-top: 10px;
    cursor: pointer;
    border: none;
    background-color: green;
    height: 30px;
}

.contact__btn:hover,
.contact__btn:focus {
    background-color: yellowgreen;
}

.contact__input {
    cursor: pointer;
    border: 2px solid green;
    height: 20px;
    margin-left: 20px;
}

.contact__label {
    color: green;
    margin-left: 20px;
    font-size: 30px;
}

.contact__form {
    display: flex;
    justify-content: space-around;
}

.container {
    margin-bottom: 40px;
}