.nav {
    margin-left: auto;
    margin-right: 50px;
}

.link {
    display: inline-block;
    padding: 12px 20px;
    font-weight: 400;
    font-size: 30px;
    color: whitesmoke;
    transition: all 250ms cubic-bezier(0.4, 0, 0.2, 1);
    text-decoration: none;
}

.link:hover {
    text-shadow: 1px 0 11px rgba(255 255 255 / 80%);
}

.link:active {
    color: #119438;
    text-shadow: 1px 0 11px rgba(23, 155, 18, 0.801);
}